@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;

  --color-primary: #000000;
  --color-secondary: #f2f2f2;
  --color-accent: rgba(234, 228, 213, 0.3);
  --color-neutral: #b6b09f;
}
